<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708134615259-3cvj7q551b1jtllhst12e69m1viksort.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708134615259-3cvj7q551b1jtllhst12e69m1viksort</string>
	<key>API_KEY</key>
	<string>AIzaSyA4PwHDAAd_4zaIybFbVkk_Y9HM02TB_fY</string>
	<key>GCM_SENDER_ID</key>
	<string>708134615259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixthsense.spotiobook</string>
	<key>PROJECT_ID</key>
	<string>spotiobook</string>
	<key>STORAGE_BUCKET</key>
	<string>spotiobook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708134615259:ios:0b02e014784ddf99f5b4fe</string>
</dict>
</plist>